<div class="row">
    <div class="col-xs-6">
        <h1>Index Route </h1>
    </div>
    <div class="col-xs-6 h1">
        {{#link-to "menu.balance" class ="pull-right btn btn-primary"}}
            Balance
        {{/link-to}}

        {{#link-to "menu.withdraw" class ="pull-right btn btn-primary"}}
            Withdraw
        {{/link-to}}

        {{#link-to "menu.deposit" class ="pull-right btn btn-primary"}}
            Deposit
        {{/link-to}}
    </div>
</div>